<html>
<head>
	<title>BPATC School and College</title>
	<link rel="stylesheet" href="style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div id="navbar">
		<div style="float: left">
			<a class="active" onclick="document.body.scrollTop = 0"><button>Home</button></a>
			<a href="#notice-container"><button>Notice</button></a>
			<a href=""><button>Students' corner</button></a>
			<a href=""><button>Teachers' corner</button></a>
			<a href=""><button>Admission</button></a>
			<a href=""><button>Online payment</button></a>
		</div>

		<div style="float: right">
			<a href=""><button>Facilities</button></a>
			<a href="#about"><button>About</button></a>
			<a href="#contact"><button>Contact</button></a>
		</div>

	</div>

	<div id="header">
		<div class="header-container">
			<img src="logo.png" class="logo">
			<p class="title">
				BPATC School and College<br>
				<small>Savar, Dhaka</small>
			</p>
		</div>

	</div>

	<div id="slide">
		<div class="content">
			<div style="width: 80%">
				<h2 style="margin-top: 0">BPATC School and College</h2>
				is an educational institution conducted by BPATC under the rules and regulations of BISE under the Education Ministry of Education of Bangladesh. The basic principles of this institution are education, discipline, peace and prosperity. Discipline, location and beautiful atmosphere all these are the individual characteristics of this institution, making it different from any other ones.<br>
				We expect that by spreading education and by blooming the firm determination as well as human quality among the students. BPATC School & college will play an active role to create good citizens and national progress.
			</div>
		</div>
	</div>

	<div id="mission-card">
		<center>
			<h2 style="margin-top: 0">Our missions</h2>
			<div class="card">
				<i class="fa fa-book"></i>
				To Give Qualitative Education.
			</div>
			<div class="card">
				<i class="fa fa-smile-o"></i>
				To Build Up Character.
			</div>
			<div class="card">
				<i class="fa fa-user"></i>
				To Develop Basic Human Skill.
			</div>
		</center>
	</div>

	<script src="javascripts/script.js"></script>

</body>
</html>
